/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v7/HhyaU5sn9vOmLzlmC_WoEoZKdbA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v7/HhyaU5sn9vOmLzloC_WoEoZK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2mZ8WD07oB-98o.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2mf8WD07oB-98o.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2mT8WD07oB-98o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2md8WD07oB-.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nFrXyw023e1Ik.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nDrXyw023e1Ik.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nPrXyw023e1Ik.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nBrXyw023e.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7EyjmmZ8WD07oB-98o.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmf8WD07oB-98o.woff2) format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin-ext */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7EyjmmT8WD07oB-98o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmd8WD07oB-.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v8/HI_SiYsKILxRpg3hIP6sJ7fM7PqlM-vWnsUnxlC9.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v8/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


::selection {
    background-color: #b2d7fd;
}

.dl-modal {
    z-index: 3;
}

.dl-form .no-data-hint {
    margin-left: 37px;
}

.dl-form .no-data-hint .no-data-icon {
    background-image: url('./icons/no-file.svg');
    height: 210px;
    margin-top: -10px;
    background-repeat: no-repeat;
    background-position: center;
}

.dl-form .no-data-hint .no-data-message-heading {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

.dl-form .no-data-hint .no-data-message {
    text-align: center;
    padding-top: 8px;
    font-size: 0.9em;
}

.textEnrichmentControl {
    position: absolute;
    padding: 0px;
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #4e98f6;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 0px rgba(217,217,217,0.3);
    white-space: nowrap;
    height: 23px;
    z-index: 1;
}

.textEnrichmentControl .textEnrichmentControlArrow {
    display: inline-block;
    position: relative;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4e98f6;
    background-color: transparent;

    padding: 0px;
    left: 5px;
    top: 7px;
    min-width: 0px;
    margin-right: -10px;
}

.textEnrichmentControl .textEnrichmentControlArrow:hover {
    background-color: transparent !important;
}

.textEnrichmentControl svg {
    padding-top: 3px;
}

.textEnrichmentControl span {
    display: inline-block;
    min-width: 12px;
    height: 15px;
    padding: 4px;

    color: #545454;
    text-align: center;
    font-size: 1em;
    font-family: monospace;
    background-color: #fff;
    overflow: hidden;

    vertical-align: baseline;
}

.textEnrichmentControl span .fa-chain-broken {
    font-size: 0.8em;
    padding-left: 2px;
    padding-top: 3px
}

.textEnrichmentControl span:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.textEnrichmentControl .textEnrichmentControlArrow:hover {
    background-color: #fff;
    cursor: default;
}

.textEnrichmentControl input {
    position: relative;
    top: -5px;
    font-family: Dosis;
    border: none;
    padding-top: 2px;
    padding-left: 5px;
    height: 20px;
    font-size: 0.9em;
    background-color: #fafafa;
}

.textEnrichmentControl input:focus {
    outline: none;
}

.textEnrichmentControl input::placeholder {
    color: #d0d0d0;
}

.structured-text-editor-container {
    margin: 0px auto;
    width: 560px;

    padding: 9px;
    padding-bottom: 100px;
    padding-left: 20px;
    min-height: 300px;

    counter-reset: image-counter table-counter code-counter heading-l1-counter heading-l2-counter heading-l3-counter heading-l4-counter, formula-counter;
}

.topSectionInsertButton, .bottomSectionInsertButton {
    transition:opacity 300ms ease-out;
    opacity: 0;
    font-size: 0.8em;
    padding: 0px;
}

.topSectionInsertButton span, .bottomSectionInsertButton span {
    color: #E9DDC6;
    cursor: pointer;
    border: 1px dashed rgba(224, 216, 202, 0.5);
    display: block;
    min-height: 24px;
    padding: 8px 15px 0px 8px;
    border-radius: 4px;
    font-family: Rubik;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
}

.topSectionInsertButton:hover, .bottomSectionInsertButton:hover {
    transition:opacity 300ms ease-out;
    opacity: 1;
}

.deactivatedSectionInsertButton:hover {
    transition: none !important;
    opacity: 0;
}

.deactivatedSectionInsertButton {
    transition: none !important;
    opacity: 0;
}

.deactivatedSectionInsertButton:hover span{
    cursor: auto;
}

.topSectionInsertButton {
    padding-top: 24px;
}

.bottomSectionInsertButton {
    height: 100%;
}

.structured-text-editor {
    margin: 0px;
    padding: 0px;
    width: 560px;
    line-height: 150%;
}

.structured-text-editor:focus {
    outline: none;
}

.structured-text-editor *:focus {
    outline: none;
}

.structured-text-editor .warning {
   color: red;
}

p, h1, h2, h3, h4, h5, table, ul, ol, figure, pre, nav, bibliographie, footnotes, .m2dia, bquote {
    border: 1px dashed transparent;
    display: block;
    min-height: 24px;
    padding: 4px 15px 4px 8px;
    margin: 6px 0px 6px 0px;
    border-radius: 4px;
    font-family: Dosis;
    letter-spacing: 1px;
    position: relative;
    color: #46add8;
    overflow-wrap: break-word;
}

h2:not([unnumbered-heading="Yes"])::before, h3:not([unnumbered-heading="Yes"])::before, h4:not([unnumbered-heading="Yes"])::before, h5:not([unnumbered-heading="Yes"])::before {
    display: inline-block;
    margin-left: -116px;
    margin-right: 16px;
    text-align: right;
    width: 100px;
}

h2:not([unnumbered-heading="Yes"]) {
    counter-increment: heading-l1-counter;
    counter-reset: heading-l2-counter heading-l3-counter heading-l4-counter;
}

h2:not([unnumbered-heading="Yes"])::before {
    content: counter(heading-l1-counter) '.';
}

h3:not([unnumbered-heading="Yes"]) {
    counter-increment: heading-l2-counter;
    counter-reset: heading-l3-counter heading-l4-counter;
}

h3:not([unnumbered-heading="Yes"])::before {
    content: counter(heading-l1-counter) '.' counter(heading-l2-counter) '.';
}

h4:not([unnumbered-heading="Yes"]) {
    counter-increment: heading-l3-counter;
    counter-reset: heading-l4-counter;
}

h4:not([unnumbered-heading="Yes"])::before {
    content: counter(heading-l1-counter) '.' counter(heading-l2-counter) '.' counter(heading-l3-counter) '.';
}

h5:not([unnumbered-heading="Yes"]) {
    counter-increment: heading-l4-counter;
    counter-reset: heading-l5-counter;
}

h5:not([unnumbered-heading="Yes"])::before {
    content: counter(heading-l1-counter) '.' counter(heading-l2-counter) '.' counter(heading-l3-counter) '.' counter(heading-l4-counter) '.';
}

h3, h4, h5 {
    min-height: 28px;
}

h2 {
    min-height: 36px;
}

h1 {
    min-height: 48px;
}

p, ul, ol, figure, pre, .m2dia {
    font-family: Rubik;
    font-size: 0.85em;
    font-weight: 300;
    color: #545454;
}

ul, ol {
  padding-left: 25px;
}

p b {
  color: #444;
}

inlinecode {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.85em;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: #f2f2f2;
    border: 1px solid rgba(224, 216, 202, 1);
    color: #ff5370;
}

inlineequation .error {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.85em;
    padding: 2px 4px;
    color: red;
}

inlineequation {
    user-select: none;
    cursor: pointer;
    background-color: #f2f2f2;
}

.code-text-enrichment-button {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.65em;
}

.enrichment-info {
    font-size: 0.75em !important;
    font-style: normal !important;
    padding-top: 7px !important;
    height: 12px !important;
    padding-left: 7px !important;
}

h1 {
    line-height: 150%;
}

h2 {
    line-height: 150%;
}

h3, h4, h5 {
    line-height: 150%;
}

bquote blockquote  {
    letter-spacing: 0px;
    min-height: 32px;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 5px;
    line-height: 1.6em;
    font-family: Rubik;
    font-size: 0.85em;
    font-weight: 300;
    font-style: italic;
    color: #545454;
    background-color: #fafaf9;
    padding: 5px 10px 5px 10px;
}

bquote[display-caption=No] citesrc {
    display: none;
}

bquote blockquote::-webkit-scrollbar {
    height: 4px;
}

bquote blockquote::-webkit-scrollbar-thumb {
    background: #f4f3ef;
}

pre {
    background-color: #fafaf9;
    border: 1px solid #fafaf9;
}

.code {
    counter-increment: code-counter;
}

pre code {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8em;
    letter-spacing: 0px;
    min-height: 32px;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 5px;
    line-height: 1.6em;
}

pre code::-webkit-scrollbar {
    height: 4px;
}

pre code::-webkit-scrollbar-thumb {
    background: #f4f3ef;
}

.render {
    user-select: none;
}

formula {
    counter-increment: formula-counter;
}

.katex .katex-html .newline {
    margin-top: 17px;
}

.m2dia {
    background: #f9faf8;
}

.m2dia .render {
    background: none;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    min-height: 25px;
    padding-top: 10px;
    overflow-x: scroll;
}

.m2dia pre {
    background: rgba(224, 216, 202, 0.2);
    width: 518px;
    display: block;
}

.m2dia.focused .render {
    opacity: 0.8;
}

.m2dia code {
    font-family: 'Source Code Pro', monospace;
    font-size: 11px;
    letter-spacing: 0px;
    min-height: 32px;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 5px;
    line-height: 1.6em;
}

.m2dia code::-webkit-scrollbar {
    height: 4px;
}

.m2dia code::-webkit-scrollbar-thumb {
    background: #f4f3ef;
}

.m2dia[display-caption=No] caption {
    display: none;
}

formula caption::before {
    content: 'Equation ' counter(formula-counter) ' - ' ;
    font-weight: bold;
}

.m2dia.focused caption::before {
    display: block;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.m2dia .render .arrow {
    position: relative;
    font-size: 31px;
    top: -5px;
    color: #cacaca;
}

pre[display-caption=No] caption {
    display: none;
}

pre caption, .m2dia caption, bquote citesrc {
    width: 532px;
    margin-top: 5px;
    white-space: pre-wrap;
    word-break: keep-all;
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: table-caption;
}

pre.focused caption::before {
    display: block;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

pre caption::before {
    content: 'Listing ' counter(code-counter) ' - ' ;
    font-weight: bold;
}

table {
    counter-increment: table-counter;
    display: table;
    width: 100%;
    margin-top: 25px;
    margin-left: 0px;
    margin-bottom: 15px;
    padding: 0px;
    border-collapse: separate;
    border: none !important;

    caption-side: bottom;

    font-family: Rubik;
    font-weight: 300;
    font-size: 0.85em;
    color: #545454;

    table-layout: fixed;
}

table td {
    word-wrap: break-word;
    height: 34px;
}

table[display-heading=Yes] tr:first-child td {
    background-color: rgba(224, 216, 202, 0.1);
    font-weight: bold;
    border-bottom: 3px double rgba(224, 216, 202, 1);
    height: 36px;
}

table[display-caption=No] caption {
    display: none;
}

table tr:first-child td:first-child {
    border-top-left-radius: 3px;
}

table tr:first-child td:last-child {
    border-top-right-radius: 3px;
}

table caption::before {
    content: 'Table ' counter(table-counter) ' - ' ;
    font-weight: bold;
}

table.focused caption::before {
    display: block;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.tableControlsBar {
    position: absolute;
    padding: 0px;
    border: 1px solid rgb(205 205 205);
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.108);
}

#verticalTableControlsBar {
    flex-direction: column;
}

.tableControlsBar span {
    padding: 4px;
    height: 20px;
}

#horizontalTableControlsBar span:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#horizontalTableControlsBar span:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#verticalTableControlsBar span:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#verticalTableControlsBar span:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#tableAddRowAboveBtn, #tableAddRowBelowBtn {
    padding-left: 7px;
}

#verticalTableControlsBar .arrow {
    display: inline-block;
    position: relative;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgb(171 171 171);
    background-color: transparent;
    padding: 0px;
    left: 26px;
    top: -30px;
    min-width: 0px;
    margin-top: -10px;
}

#horizontalTableControlsBar .arrow {
    display: inline-block;
    position: relative;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(171 171 171);
    background-color: transparent;
    padding: 0px;
    left: -39px;
    top: 28px;
    min-width: 0px;
    margin-right: -10px;
}

#tableAddRowBelowBtn {
  padding-top: 0px;
}

#tableAddRowAboveBtn {
    padding-bottom: 0px;
}

#tableDeleteRowBtn {
    padding-top: 2px;
    padding-bottom: 2px;
}

#verticalTableControlsBar span svg {
    transform: rotate(90deg);
}

.tableControlsBar span:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.cls-1-red {fill:none;stroke:#231f20;}
.cls-1-red, .cls-2-red{stroke-miterlimit:10;}
.cls-2-red {fill:#ed8e7c;stroke:#dc3826;}

.cls-1,.cls-3 {fill:none;}
.cls-1 {stroke:#231f20;}
.cls-1,.cls-2,.cls-3 {stroke-miterlimit:10;}
.cls-2 {fill:#98cf8d;}
.cls-2,.cls-3 {stroke:#297027;}

mermaid .mermaid svg {
    font-size: 10px !important;
}

mermaid caption::before {
    content: 'Figure ' counter(image-counter) ' - ' ;
    font-weight: bold;
}

mermaid.focused caption::before {
    display: block;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

figure {
    counter-increment: image-counter;
}

mermaid {
    counter-increment: image-counter;
}

figure figcaption, table caption, pre caption, .m2dia caption, bquote citesrc {
    padding: 5px;
    min-height: 13px;
    text-align: center;
    font-style: italic;
    line-height: normal;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: 2px;
    margin-right: 2px;
    background: rgba(224, 216, 202, 0.2);
    font-family: Rubik;
    font-weight: 300;
    font-size: 11px;
    color: #545454;
}

th, td {
    padding: 0px 8px;
    border: 1px solid rgba(224, 216, 202, 0.3);
}

figure figcaption {
    margin: 0px -10px 0px -5px;
}

figure figcaption::before {
    content: 'Figure ' counter(image-counter) ' - ' ;
    font-weight: bold;
}

figure.focused figcaption::before {
    display: block;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

figure[display-caption=No] figcaption {
    display: none;
}

figure img {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 540px;

    min-width: 80px;
    min-height: 80px;
}

figure .image-img-placeholder {
    font: normal normal normal 14px/1 FontAwesome;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    text-align: center;
    display: inherit;
    color: rgba(224, 216, 202, 0.2);
    cursor: pointer;
}

figure .image-img-placeholder.dragover, figure img.dragover {
    border-radius: 4px;
    border: 1px solid rgba(70, 173, 216, 0.33);
    background-color: rgba(70, 173, 216, 0.07);
    opacity: 0.5;
}

figure .image-img-placeholder i {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 100px;
  background: url('data:image/svg+xml;utf8,<svg class="svg-inline--fa fa-image fa-w-16 empty-image" aria-hidden="true" data-prefix="fas" data-icon="image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="rgba(224, 216, 202, 0.2)" d="M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z"></path></svg>') right no-repeat;
}

figure .image-img-placeholder .choose-img-btn {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

figure .image-img-placeholder .choose-img-btn {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

figure .image-img-placeholder .choose-img-btn-label {
    display: block;
    margin: auto;

    margin-top: 0px;
    margin-bottom: 9px;

    width: 152px;
    padding: 7px 0px;
    color: #545454;
    font-family: Rubik;
    font-size: 0.8em;
    cursor: pointer;
    line-height: 1.6em;
}

nav.toc ol li {
    list-style-type: none;
    font-size: 11.5px;
}

nav.toc ol {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 18px;
}

nav.toc h2 {
    padding-left: 0px;
}

nav.toc .hint {
    color: #545454;
    font-size: 0.85em;
}

footnotes .entry , bibliographie .entry {
    text-indent: -1.5em;
    padding-left: 1.5em;
    color: #545454;
    font-size: 0.85em;
    cursor: pointer;
}

footnotes .entry.note, bibliographie .entry.note {
    cursor: auto;
}

footnotes h2, bibliographie h2 {
    padding-left: 0px;
}

footnotes .entry:hover, bibliographie .entry:hover {
    text-decoration: underline;
}

footnotes .entry.note:hover, bibliographie .entry.note:hover {
  text-decoration: none;
}

.reference {
    background: #eee;
    user-select: none;
}

.reference[data-external=true] {
    cursor: pointer;
}

.footnote {
    vertical-align: super;
    font-size: 0.5em;
}

.footnote-content, .reference-caption, .enrichment-info, .inlineequation-content {
    font-style: italic;
    max-width: 200px;
    white-space: nowrap;
    background-color: #eee !important;
    color: #999 !important;
}

.footnote-content::-webkit-scrollbar, .enrichment-info::-webkit-scrollbar, .inlineequation-content::-webkit-scrollbar {
    height: 0px;
}

.footnote-content::-webkit-scrollbar-thumb, .enrichment-info::-webkit-scrollbar-thumb, .inlineequation-content::-webkit-scrollbar-thumb {
    background: #f4f3ef;
}

.footnote-content::-webkit-scrollbar-corner, .enrichment-info::-webkit-scrollbar-corner, .inlineequation-content::-webkit-scrollbar-corner {
    background: transparent;
}

.footnote-content::-webkit-scrollbar-track, .enrichment-info::-webkit-scrollbar-track, .inlineequation-content::-webkit-scrollbar-track {
    background: transparent;
}
.footnote-content::-webkit-scrollbar-track-piece, .enrichment-info::-webkit-scrollbar-track-piece, .inlineequation-content::-webkit-scrollbar-track-piece {
    background: transparent;
}

.footnote-content:hover, .reference-caption:hover, .enrichment-info:hover, .inlineequation-content:hover {
    cursor: default !important;
    background-color: #eee !important;
}

.focused {
    border: 1px dashed rgba(224, 216, 202, 0.5);
}

#sectionTypeSelector {
    position: absolute;

    margin-top: 5px;
    margin-left: 580px;
    padding: 0px;

    border-radius: 3px;
    border: 1px solid #e6e6e6;

    background-color: #fff;

    top: -10000px;
    left: -10000px;
    max-width: 150px;
}

#sectionTypeSelector span {
    height: 13px;
    user-select: none;
    display: none;
    float: left;

    min-width: 12px;
    padding: 4px;

    color: #545454;
    text-align: center;
    font-size: 0.8em;
    font-family: monospace;
}

#sectionTypeSelector span.sectionTypeBtn.unusable {
    color: #d8d8d8;
}

#sectionTypeSelector .annotation {
    display: inline;
    float: right;
    min-width: 0px;
    padding: 0px;
    height: 13px;
    font-size: 1.0em;
}

#sectionTypeSelector.lessSpace .annotation {
    display: none;
}

#sectionTypeSelector span:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

#sectionTypeSelector span.sectionTypeBtn.unusable:hover {
    background-color: transparent;
    cursor: default;
}

#sectionTypeSelector .hover {
    display: inline;
    color: #545454;
}

#sectionTypeSelector .hover .annotation {
    display: none;
}

#sectionTypeSelector .option-btn {
    border-right: 1px solid #e6e6e6;
    padding-top: 5px;
    padding-bottom:3px;
}

#sectionTypeSelector .option-btn.hover:not(.active) {
    display: none;
}

#sectionTypeSelector .active {
    display: inline;
}

.dl-form p {
    width: 360px;
}

.latex-eq-tooltip {
    max-height: 400px;
    overflow-y: scroll;
}

@keyframes loading-icon-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tooltip-loading {
    border: 2px solid #D1D0D8;
    border-top: 2px solid #88858e;
    border-radius: 50% !important;
    width: 16px;
    height: 16px;
    padding: 0px !important;
    animation: loading-icon-spin 1s linear infinite;
}

.tooltip-success {
    padding-left: 4px !important;
    padding-right: 4px !important;
    background-color: #d1e7dd !important;
    color: #12b568 !important;
}

.tooltip-warning {
    padding-left: 8px !important;
    padding-right: 8px !important;
    background-color: #ffecb5 !important;
    color: #664d03 !important;
}

.tooltip-error {
    padding-left: 8px !important;
    padding-right: 8px !important;
    background-color: #f8d7da !important;
    color: #842029 !important;
}

.tippy-box td {
    color: #fff;
    border: none;
    padding-top: 10px;
}

.tippy-box table {
    border-collapse: collapse;
}

.render[name=fetch-ref-btn] {
    margin-bottom: -5px;
}

.add-external-ref-btn, .fetch-external-ref-btn {
    border: 1px solid #1ea6a4;
    color: #1ea6a4;
    border-radius: 4px;
    cursor: pointer;
    background: #f8f8f8;
    border: 1px solid #e7e6e6;
    padding: 8px;
    margin-top: 4px;
    outline: none;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -20px;
}

.fetch-external-ref-btn-loading {
    opacity: 0.5;
}

ste-input-hint {
    opacity: 0.2;
    font-family: Rubik;
    display: block;
    position: absolute;
    font-size: 0.9em;
    margin-top: 16px;
    margin-left: 12px;
}

ste-input-hint code {
    font-weight: bold;
    font-size: 1.2em;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px 3px;
}
